[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
asyncpg = "*"
pydantic-settings = "*"

[dev-packages]

[requires]
python_version = "3.12"
