[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
alembic = "*"
python-decouple = "*"
asyncpg = "*"
fastapi-users = {extras = ["oauth", "redis", "sqlalchemy"], version = "*"}
httpx-oauth = "*"

[dev-packages]

[requires]
python_version = "3.11"
